<h1>Password Generate</h1>

<div>
  <label>Enter Length</label>
  <input type="text" />
</div>

<div>
  <label>User Letter</label>
  <input type="checkbox" />
</div>

<div>
  <label>User Number</label>
  <input type="checkbox" />
</div>

<div>
  <label>User Symbols</label>
  <input type="checkbox" />
</div>

<div>
  <button (click)="onButtonClick()">Generate!</button>
</div>

<div>
  <label>Your Password</label>
  <!-- <input type="text" [value]="password" /> -->
  <input type="text" [value]="getPassword()" />
  <!-- <input type="text" value="{{ getPassword() }}" /> -->
</div>

<!-- {{ getName() }} -->
