<h1>Password Generate</h1>

<div>
  <label>Enter Length</label>
  <input type="text" (input)="onChangeLength($event)" />
</div>

<div>
  <label>User Letter</label>
  <input type="checkbox" (change)="onChangeUseLetters()" />
</div>

<div>
  <label>User Number</label>
  <input type="checkbox" (change)="onChangeUseNumbers()" />
</div>

<div>
  <label>User Symbols</label>
  <input type="checkbox" (change)="onChangeUseSymbols()" />
</div>

<div>
  <button
    (click)="onButtonClick()"
    [disabled]="
      !(length && (includeLellters || includeNumbers || includeSymbols))
    "
  >
    Generate!
  </button>
</div>

<div>
  <label>Your Password</label>
  <!-- <input type="text" [value]="password" /> -->
  <input type="text" [value]="getPassword()" />
  <!-- <input type="text" value="{{ getPassword() }}" /> -->
</div>

<!-- {{ getName() }} -->
